*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

#container {
    margin: 0;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#center {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#title {
    width: fit-content;
    min-width: 22rem;
}

.whitetitle {
    color: #FFFFFF;
    font-family: 'Roboto Mono Regular';
    text-shadow: 0 2px 0px #ABABAB;
    transition: 0.3s ease-out;
    text-align: center;
}

.whitetitle:hover {
    text-shadow: 0 2px 0px #ABABAB, 0 0px 28px #ABABAB;
}


.pinktitle {
    color: #FF84DC;
    font-family: 'Roboto Mono Regular';
    text-shadow: 0 2px 0px #CB4DA7, 0 0px 50px #FF84DC;
    transition: 0.3s ease-out;
    text-align: center;
}

.pinktitle:hover {
    text-shadow: 0 2px 0px #CB4DA7, 0 0px 70px #FF84DC;
}

#description {
    color: #fff;
    font-family: 'Roboto Mono Regular';
    font-size: 21px;
    margin-top: 8px;
    text-align: center;
    width: fit-content;
    word-wrap: break-word;
    max-width: 39ch;
}

#textbutton {
    color: #ffddff;
    font-family: 'Roboto Mono Regular';
    font-size: 21px;
    margin-top: 20px;
    text-decoration: underline;
    text-shadow: 0 0px 30px #ffddff;
    cursor: pointer;
    transition: 0.5s ease-out;
}

#textbutton:hover {
    color: #ffa8ff;
    text-shadow: 0 0px 30px #ffa8ff;
}

#heart {
    margin: 0;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease-in-out;
    overflow: hidden;
    opacity: 0%;
}
